@import "assets/font/font.css";
@import "assets/css/magnific-popup.css";
@import "assets/css/jquery.fancybox.css";
@import "assets/css/swiper-bundle.min.css";
@import "assets/css/normalize.css";
@import "assets/css/header.css";
@import "assets/css/home.css";
@import "assets/css/modal.css";
@import "assets/css/sticker.css";
@import "assets/css/forms.css";
@import "assets/css/footer.css";


