footer{
    background: #0E1325;
}
.footer__main{
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__logo{
    display: flex;
    align-items: center;
}
.footer__logo a{
    display: flex;
}
.footer__logo p{
    max-width: 187px;
    width: 100%;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #9FA2AD;
    margin-left: 20px;
}
.footer__soc a{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 15px;
    line-height: 14px;
    color: #FFFFFF;
    transition: 0.4s;

}
.footer__soc a img{
    margin-right: 10px;
}
.footer__soc a + a{
    margin-top: 10px;
}
.footer__soc a:hover{
    color: #EE2CA0;
}
.footer-terms a{
    display: block;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    color: #9FA2AD;
    transition: 0.4s;
}
.footer-terms a:hover{
    color: #EE2CA0;
}
.footer-terms a + a{
    margin-top: 15px;
}
.site-developed span{
    display: block;
    font-weight: 600;
    font-size: 13px;
    line-height: 14px;
    color: #9FA2AD;
    margin-bottom: 5px;
    text-align: left;
}
@media (max-width: 1099px){
    .footer-terms{
        max-width: 260px;
    }
}
@media (max-width: 991px){
    .footer__main {
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding-bottom: 85px;
    }
    .footer__logo {
        flex-direction: column;
    }
    .footer__soc{
        margin: 20px 0;
    }
    .footer-terms {
        max-width: 560px;
        text-align: center;
    }
    .site-developed span {
        text-align: center;
    }
    .site-developed{
        margin-top: 20px;
    }
    .footer__logo p {
        margin-left: 0;
        text-align: center;
        position: absolute;
        bottom: 20px;
    }
}